body {
  font-family: Verdana, Geneva, sans-serif;
  background-color: #008FB4;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 1000px 1fr minmax(auto, 600px);
  gap: 0px;
  padding: 0px;
  margin: 0px;
}

div.column {
    margin: 10px;
    padding: 20px;
}
#columnA {
    grid-column: 1;
}
#columnB {
    grid-column: 2;
    text-align: justify;
    margin-top: 10px;
    color: whitesmoke;
    padding: 20px;
}
#columnC {
    grid-column: 3;
}
#columnD {
  grid-column: 4;
  background-color: blue;
  background-image: url("banner3.png");
  background-position: top left;
  background-size: 600px 100px;
  background-repeat: repeat-y;
}

#andrewpitts {
  text-align: center;
  font-size: 70px;
}

#name1 {
  display:inline-block;
}
#name2 {
  display:inline-block;
  transform: scale(-1, 1);
}
#name3 {
  display:inline-block;
}
#name4 {
  display:inline-block;
  margin-left: 0px;
  padding-left: 3px;
}

#logo {
  width: 200px;
  margin-right: -50px;
  border-width: 1px;
  border-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

#c {
  overflow: auto;
  text-align: justify;
}

#title {

}

#alert {
  text-align: center;
  color: red;
  font-weight: bold;
}

#logoTable {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

#photos>img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #00BCE9;
}

a:hover {
  text-decoration: underline;
}

li {
  margin: 5px
}

td {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

img.speaker {
  height: 300px;
}

#sponsors {
  display: flex;
  justify-content: center;
}

#sponsors>img {
  height: 80px;
  padding: 8px;
  /*background-color: white;*/
}

h2 {
  margin-top: 30px;
}

td.extra.top {
  height: 30px;
}
td.extra.bottom {
  height: 35px;
}

#iframe.gmap {
  border: none;
  overflow: hidden;
}

#schedule, #schedule>tbody>tr>td {
    text-align: left;
}

#schedule>tbody>tr>td, #schedule>tbody>tr>th {
    padding-left: 5px;
}

#schedule>tbody>tr>td {
    border: 3px solid #00BCE9;
    border-spacing: 0px;
}

#schedule {
    border-collapse: collapse;
    margin-bottom: 30px;
}

#schedule>thead>tr>th {
    padding-bottom: 10px;
}

#schedule>tbody>tr {
    height: 45px;
}

#schedule>tbody>tr>td:first-child {
    width: 130px;
    margin-right: 0px;
    padding-right: 0px;
    xxfont-size: small;
}

#schedule>tbody>tr>td:not(:first-child) {
    width: 410px;
}

.emphasise {
    color: red;
    font-weight: bold;
}

@media only screen and (max-width: 1020px) {
    #grid {
        display: table-cell;
        width: 100%;
        padding: 0 1em;
    }
}